body {
    min-height: 100vh;
    height: 100vh;
    bottom: 0;
    overflow: hidden;
}

#container {
    overflow: hidden;
    position: relative;
}

#query-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 12vw;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#map-wrapper {
    position: absolute;
    top: 0;
    left: 12vw;
    right: 0;
    height: 100%;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:1;
}

#map-loader {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 40%;
    bottom: 40%;
    background-color: #fefefe;
    margin: 3%;
    padding: 20px;
    display: none;
    z-index:2;
    text-align: center;
}

#visualizationModal {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
    background-color: #fefefe;
    display: none;
    z-index:3;
    text-align: center;        
}

.collapsible {
  background-color: #b4b9c2;
  color: white;
  cursor: pointer;
  padding: 15px 30px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.properties {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: left;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  bottom: 75%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

/* #legendTooltip.tooltiptext {
  position: absolute;
} */